body{
    background: radial-gradient(circle,rgba(251,255,250,1) , rgb(189, 231, 204));
}

.content-box{
    width: 35rem;
    height: 100%;
    padding: 20px;
    background: rgba(229, 229, 249, 0.5);
    margin: auto;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(127, 127, 127,0.3);
}

h1{
    margin:0;
    font-style: italic;
    font-size: 2.5rem;
    margin-left: 0.5rem;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 0.5rem;
    padding-left: 0.2rem;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.nav li{
    list-style: none;
}

span{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Berkshire Swash', cursive;    
}

#acasa{
    background-color: rgb(218, 111, 111);
    border-radius: 2rem;
    padding-left: 2rem;
}

.content-box2{
    width: 32rem;
    height: 30rem;
    padding: 1rem;
    background: transparent;
    margin: auto;
    border: 0.1rem solid black;
}

.content-box2 h2{
    margin: 0 1rem;
}
